# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
absl-py=0.13.0=pypi_0
apex=0.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=21.2.0=pypi_0
bert-score=0.3.10=pypi_0
blas=1.0=mkl
boto3=1.18.16=pypi_0
botocore=1.21.16=pypi_0
bpemb=0.3.3=pypi_0
bzip2=1.0.8=h7f98852_4
ca-certificates=2021.5.30=ha878542_0
cachetools=4.2.2=pypi_0
certifi=2021.5.30=py38h06a4308_0
cffi=1.14.6=py38ha65f79e_0
charset-normalizer=2.0.4=pypi_0
click=8.0.1=pypi_0
cloudpickle=1.6.0=pypi_0
comet-ml=3.14.0=pypi_0
configobj=5.0.6=pypi_0
cudatoolkit=10.2.89=h8f6ccaa_8
cycler=0.10.0=pypi_0
datasets=1.11.0=pypi_0
deprecated=1.2.12=pypi_0
dill=0.3.4=pypi_0
docopt=0.6.2=pypi_0
dulwich=0.20.24=pypi_0
editdistance=0.5.3=pypi_0
everett=2.0.0=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.0.12=pypi_0
flair=0.8.0.post1=pypi_0
flatbuffers=1.12=pypi_0
freetype=2.10.4=h0708190_1
fsspec=2021.7.0=pypi_0
ftfy=6.0.3=pypi_0
future=0.18.2=py38h578d9bd_3
gast=0.4.0=pypi_0
gdown=3.12.2=pypi_0
gensim=3.8.3=pypi_0
gmp=6.2.1=h58526e2_0
gnutls=3.6.13=h85f3911_1
google-auth=1.34.0=pypi_0
google-auth-oauthlib=0.4.5=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.34.1=pypi_0
h5py=3.1.0=pypi_0
huggingface-hub=0.0.12=pypi_0
hyperopt=0.2.5=pypi_0
idna=3.2=pypi_0
importlib-metadata=3.10.1=pypi_0
intel-openmp=2021.3.0=h06a4308_3350
janome=0.4.1=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.0.1=pyhd8ed1ab_0
jpeg=9b=h024ee3a_2
jsonschema=3.2.0=pypi_0
keras-nightly=2.5.0.dev2021032900=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
konoha=4.6.5=pypi_0
lame=3.100=h7f98852_1001
langdetect=1.0.9=pypi_0
language-tool-python=2.5.5=pypi_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
lemminflect=0.2.2=pypi_0
libblas=3.9.0=11_linux64_mkl
libcblas=3.9.0=11_linux64_mkl
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgfortran-ng=11.1.0=h69a702a_8
libgfortran5=11.1.0=h6c583b3_8
libgomp=9.3.0=h5101ec6_17
libiconv=1.16=h516909a_0
liblapack=3.9.0=11_linux64_mkl
libpng=1.6.37=h21135ba_2
libprotobuf=3.16.0=h780b84a_0
libstdcxx-ng=9.3.0=hd4cf53a_17
libtiff=4.2.0=h85742a9_0
libuv=1.42.0=h7f98852_0
libwebp-base=1.2.0=h7f98852_2
lru-dict=1.1.7=pypi_0
lxml=4.6.3=pypi_0
lz4-c=1.9.3=h9c3ff4c_1
markdown=3.3.4=pypi_0
matplotlib=3.4.3=pypi_0
mkl=2021.3.0=h06a4308_520
mkl-service=2.4.0=py38h497a2fe_0
mkl_fft=1.3.0=py38h42c9631_2
mkl_random=1.2.2=py38h1abd341_0
more-itertools=8.8.0=pypi_0
mpld3=0.3=pypi_0
multiprocess=0.70.12.2=pypi_0
ncurses=6.2=he6710b0_1
nettle=3.6=he412f7d_0
networkx=2.6.2=pypi_0
ninja=1.10.2=h4bd325d_0
nltk=3.6.2=pypi_0
num2words=0.5.10=pypi_0
numpy=1.19.5=pypi_0
numpy-base=1.20.3=py38h74d4b33_0
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyh9f0ad1d_1
openh264=2.1.1=h780b84a_0
openjpeg=2.4.0=hb52868f_1
openssl=1.1.1k=h27cfd23_0
opt-einsum=3.3.0=pypi_0
overrides=3.1.0=pypi_0
packaging=21.0=pypi_0
pandas=1.3.1=pypi_0
pillow=8.3.1=py38h2c7a002_0
pip=21.1.3=py38h06a4308_0
protobuf=3.16.0=py38h709712a_0
pyarrow=5.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pyh9f0ad1d_2
pyparsing=2.4.7=pypi_0
pyrsistent=0.18.0=pypi_0
pysocks=1.7.1=pypi_0
python=3.8.10=h12debd9_8
python-dateutil=2.8.2=pypi_0
python_abi=3.8=2_cp38
pytorch=1.9.0=cpu_py38hfb3baa6_1
pytz=2021.1=pypi_0
pyyaml=5.4.1=pypi_0
readline=8.1=h27cfd23_0
regex=2021.8.3=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
requests-toolbelt=0.9.1=pypi_0
rsa=4.7.2=pypi_0
s3transfer=0.5.0=pypi_0
sacremoses=0.0.45=pypi_0
scikit-learn=0.24.2=py38hdc147b9_0
scipy=1.6.3=py38h7b17777_0
segtok=1.5.10=pypi_0
semantic-version=2.8.5=pypi_0
sentencepiece=0.1.95=pypi_0
setuptools=52.0.0=py38h06a4308_0
six=1.15.0=pypi_0
sleef=3.5.1=h7f98852_1
smart-open=5.1.0=pypi_0
sqlite=3.36.0=hc218d9a_0
sqlitedict=1.7.0=pypi_0
tabulate=0.8.9=pypi_0
tensorboard=2.6.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorboardx=2.4=pyhd8ed1ab_0
tensorflow=2.5.1=pypi_0
tensorflow-estimator=2.5.0=pypi_0
tensorflow-hub=0.12.0=pypi_0
tensorflow-text=2.5.0=pypi_0
termcolor=1.1.0=pypi_0
terminaltables=3.1.0=pypi_0
textattack=0.3.3=pypi_0
threadpoolctl=2.2.0=pyh8a188c0_0
tk=8.6.10=hbc83047_0
tokenizers=0.10.3=pypi_0
torch=1.7.1=pypi_0
torchaudio=0.9.0=py38
torchvision=0.10.0=py38_cu102
tqdm=4.49.0=pypi_0
transformers=4.9.2=pypi_0
typing-extensions=3.7.4.3=pypi_0
typing_extensions=3.10.0.0=pyha770c72_0
urllib3=1.26.6=pypi_0
wcwidth=0.2.5=pypi_0
websocket-client=1.1.1=pypi_0
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
word2number=1.1=pypi_0
wrapt=1.12.1=pypi_0
wurlitzer=2.1.1=pypi_0
xxhash=2.0.2=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.5.0=pypi_0
zlib=1.2.11=h7b6447c_3
zstd=1.4.9=ha95c52a_0
